

// Standard icons
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.1em;
  height: 1em;

  &.sm {
    width: 0.8em;
    height: 0.75em;
  }

  &.tn {
    width: 0.6em;
    height: 0.5em;
  }

  &.lg {
    width: 1.6em;
    height: 1.5em;
  }

  &.xl {
    width: 2.1em;
    height: 2em;
  }

  &.community {
    width: 1.3em;
    height: 1.5em;
    stroke: @community;
    stroke-width: 0.1em;
    stroke-opacity: 0;
    margin-right: 0.3em;
    margin-left: 0em;
  }

  &.techbroker {
    width: 1.5em;
    height: 1.3em;
    stroke: @techbroker;
    stroke-width: 0.1em;
    stroke-opacity: 0;
    margin-right: 0.3em;
    /*margin-left: 0.7em;*/
  }

  &.powerplay {
    width: 1.5em;
    height: 1.3em;
    stroke: @powerplay;
    stroke-width: 0.1em;
    stroke-opacity: 1;
    margin-right: 0.3em;
    /*margin-left: 0.7em;*/
  }
}

.community {
    fill: @community;
    color: @community;
}
.techbroker {
    fill: @techbroker;
    color: @techbroker;
}
.powerplay {
    fill: @powerplay;
    color: @powerplay;
}

// Modifiction icons - hard-code fill
.modicon {
  display: inline-block;
  vertical-align: middle;
  width: 1.1em;
  height: 1em;
  stroke-width: 20;
  fill: transparent;


  &.sm {
    width: 0.8em;
    height: 0.75em;
  }

  &.tn {
    width: 0.6em;
    height: 0.5em;
  }

  &.lg {
    width: 1.6em;
    height: 1.5em;
  }

  &.xl {
    width: 2.1em;
    height: 2em;
  }
}

.summary {
  stroke: @fg;
  fill: @fg;

  svg {
    stroke-width: 10;
  }
}
